In [1]:
from astropy.table import Table

In [2]:
dat = Table.read('randomized data on attendees - Sheet1.csv')

Replace any blanks with the word "blank"

In [3]:
dat.colnames

['Randomized ID',
 'Have you attended an unconference before?',
 'Have you attended a Python in Astronomy workshop before?',
 'In terms of gender identity, do you self-identify as an underrepresented minority in astronomy/astrophysics?',
 'In terms of racial or ethnic identity, do you self-identify as an underrepresented minority in astronomy/astrophysics?',
 'Will you be likely to need financial support from us to attend the meeting?',
 'Received funding?',
 'Registered?',
 'Geographic area',
 'Position']

Yuck, rename these columns first...

In [4]:
dat.rename_column('Randomized ID', 'ID')
dat.rename_column('Have you attended an unconference before?', 'unconference')
dat.rename_column('Have you attended a Python in Astronomy workshop before?', 'pyastro')
dat.rename_column('In terms of gender identity, do you self-identify as an underrepresented minority in astronomy/astrophysics?', 'gender')
dat.rename_column('In terms of racial or ethnic identity, do you self-identify as an underrepresented minority in astronomy/astrophysics?', 'race')
dat.rename_column('Will you be likely to need financial support from us to attend the meeting?', 'support_requested')
dat.rename_column('Received funding?', 'funded')
dat.rename_column('Registered?', 'registered')
dat.rename_column('Geographic area', 'location')
dat.rename_column('Position', 'position')

In [5]:
dat['gender'].fill_value = 'BNK'
dat['race'].fill_value = 'BNK'

In [6]:
dat.filled()

<Table length=285>
  ID  unconference ...                     position
int64     str3     ...                      str48
----- ------------ ... ------------------------------------------------
    1          Yes ...                    Undergraduate/College student
    2          Yes ...                    Graduate/Postgraduate student
    3           No ...                    Graduate/Postgraduate student
    4           No ...                    Undergraduate/College student
    5           No ...                    Undergraduate/College student
    6          Yes ...                    Graduate/Postgraduate student
    7           No ...                                          Postdoc
    8          Yes ...                                 (Research) Staff
    9          Yes ...                                 (Research) Staff
   10           No ...                    Graduate/Postgraduate student
  ...          ... ...                                              ...
  276           No ... Student researcher completed Masters last summer
  277          Yes ...                    Graduate/Postgraduate student
  278           No ...                    Graduate/Postgraduate student
  279           No ...                    Graduate/Postgraduate student
  280           No ...                    Graduate/Postgraduate student
  281          Yes ...                                     Non-Academic
  282           No ...                                 (Research) Staff
  283           No ...                    Graduate/Postgraduate student
  284           No ...                    Graduate/Postgraduate student
  285           No ...                    Graduate/Postgraduate student

In [7]:
filled = dat.filled()

In [8]:
for c in dat.colnames:
    print(c, dat[c].mask.nonzero())

ID (array([], dtype=int64),)
unconference (array([], dtype=int64),)
pyastro (array([], dtype=int64),)
gender (array([  6,  13,  16,  17,  26,  38,  40,  44,  51,  59,  62,  67,  72,
        78,  84,  90,  91,  92,  98, 100, 122, 124, 141, 145, 158, 160,
       169, 172, 177, 178, 188, 189, 190, 192, 194, 197, 204, 208, 214,
       226, 227, 228, 230, 232, 236, 238, 239, 249, 255, 258, 260, 264, 270]),)
race (array([  6,  13,  16,  17,  36,  38,  40,  44,  45,  51,  52,  59,  62,
        67,  72,  78,  88,  90,  91,  92, 100, 122, 141, 145, 146, 152,
       158, 160, 165, 169, 172, 177, 188, 189, 190, 197, 204, 208, 214,
       224, 227, 228, 230, 232, 236, 238, 239, 249, 253, 255, 258, 260,
       264, 265, 269, 270, 275, 276]),)
support_requested (array([], dtype=int64),)
funded (array([], dtype=int64),)
registered (array([], dtype=int64),)
location (array([], dtype=int64),)
position (array([], dtype=int64),)

In [9]:
filled.write('cleaned.csv')